h6{
    font-size: 15px;
    color: blueviolet;
    text-align: center;
}
h5{
    text-align: center;
    
}
h4{
    margin: 20px;
}
p{
    text-align: justify;
    margin: 20px;
    
}